@font-face {
    font-family: 'Press Start';
    src: url('../../assets/fonts/PressStart2P-Regular.ttf') format('TrueType');
}

@font-face{
    font-family: 'Kosugi';
    src: url('../../assets/fonts/KosugiMaru-Regular.ttf') format('TrueType');
}