@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

body {
  background-color: black;
}
.adventure {
  &__title {
    color: $white;
  }
  &__item {
    border-radius: 50%;
    border: 4px solid $teal;
    background-color: $purple;
    width: 12rem;
    height: 12rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &-flex {
      display: flex;
      flex-direction: column;
      margin-top: 10rem;
    }
    &-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
  &__contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &-two {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__title {
    @include page-header;
    margin: 25px 0 0 25px;
  }
  &__subheading {
    @include body-medium;
    gap: 2rem;
    color: $white;
  }
}
