@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

.adventure {
  background-color: black;
  height: 100vh;
  padding: 5vw;

  &__title {
    color: $white;
    font-size: 5rem;
  }

  &__paths {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
  }

  &__image-container {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  &__image-name {
    color: white;
    font-size: 2rem;
    padding-top: 2vw;
  }
}
