@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss";
@use "../../styles/partials/typography";

.landing {
  height: 100vh;
  padding: 3vw;
  background-image: url('../../assets/background/landing-background.svg');
  background-position: center;
  background-size: cover;

  &__background {
    width: 85%;
    height: 60vh;
    background-color: black;
    border-radius: 10px;
    padding: 2vw;

  }
  &__title {
    color: white;
    font-size: 11rem;
    font-weight: 100;
  }
  &__subtitle-container {
    padding: 2vw 1vw;
  }
  &__subtitle {
    color: #95FFDB;
    font-size: 3rem;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2vw 0;
  }
  &__button {
    border-radius: 25px;
    width: 20%;
    height: 3.5vw;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background-color: #C397FF;
  }
}
